*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#nav-parent1
{
    height: 80px;
    width: 100%;
    /* border: 2px solid aqua; */
    background-color: black;
}
#nav-parent2
{
    height: 80px;
    width: 80%;
    /* border: 2px solid goldenrod; */
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
#nav-logo
{
    height: 80px;
    width: 120px;
    /* border: 2px solid black; */
    margin-top: 20px;
    fill: white;
}
#nav-menu
{
    height: 80px;
    width: 40%;
    /* border: 2px solid navy; */
    margin-top: 29px;
}
#nav-menu li
{
    list-style: none;
    font-weight: 700;
    font-family: CircularSp,spotify-circular,Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: white;
}
#nav-menulist
{
    display: flex;
    justify-content: space-between;
}
#nav-menu a
{
    text-decoration: none;
    color: white;
}
#nav-menulist li :hover
{
    color: #1ed760;
}
#li-color a
{
    color: #d9dadc;
}

/* photo part in spotify */

#main-parent1
{
    background: url(https://www.scdn.co/i/free/bubbles-dktp.svg) center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    height: 600px;
    /* border: 2px solid red; */
    display: flex
   
}
#main-parent2
{
    height: 600px;
    width: 80%;
    /* border: 2px solid burlywood; */
    display: flex;
    margin: 0 auto;
    
}
#image
{
    height: 600px;
    width: 40%;
    /* border: 2px solid blue; */
    display: flex;
}
#image svg
{
    width: 286px;
    height: 573px;
    margin-top: 105px;
    margin-left: 55px;
}
#image img
{
    height: 445px;
    width: 267px;
    position: absolute;
    margin-top: 155px;
    margin-left: 65px;
    
}
#letters 
{
    height: 600px;
    width: 60%;
    /* border: 2px solid lawngreen; */
    color: white;
    box-sizing: border-box;
    font-size: 50px;
    letter-spacing: -0.04em;
    font-weight: 900;
    font-family:Helvetica,Arial,sans-serif;
    margin-top: 190px;
}
#letters button
{
    height: 48px;
    width: 188px;
    border-radius: 24px;
    border-color: #fff;
    border-style: solid;
    background-color: white;
    /* text-decoration: none; */
}
#letters a
{
    text-decoration: none;
    color: black ;
    font-weight: 700;

}
#letters :hover
{
    scale: 1.04;
    border-color: black;
    /* border: 2px solid black; */
}


/* why spotify? section  */

#Whyspotify-parent1
{
    height: 595px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    
    /* justify-content: space-between; */
}
#Whyspotify-parent15
{
    height: 595px;
    width: 80%;
    /* border: 2px solid rgb(2, 255, 94); */
    justify-content: space-between;
    margin: 0 auto;
}
#Whyspotify-parent2
{
    height: 450px;
    width: 95%;
    /* border: 2px solid deeppink; */
    margin: 0 auto;
    margin: 75px 30px;
}

#Whyspotify-parent2 h1
{
    /* border: 2px solid blue; */
    width: 100%;
    height: 20%;
    text-align: center;
    /* width: 670px; */
    font-size: 40px;
    font-weight: 900px;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    margin-top: px;
    margin: 0 auto;
    letter-spacing: -0.01em;
    
}
#image-border
{
    /* border: 2px solid sienna; */
    height: 327px;
    width: 100%;
    margin: 0 aut;
    display: flex;
    
    
}
.Whyspotify-image1
{
    /* border: 2px solid rgb(247, 251, 0); */
    height: 300px;
    width: 25%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
   
}
#ws-image1
{
    /* border: 2px solid black; */
    height: 60%;
    margin-left: 40px;
}
#ws-letters1
{
    /* border: 2px solid rebeccapurple; */
    height: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    /* margin-bottom: 15px; */
    line-height: 1.3em;
    text-transform: none;
    letter-spacing: normal;
}
#ws-letters11
{
    /* border: 2px solid lawngreen; */
    height: 90px;
    line-height: 1.5;
  font-size: 16px;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
  text-align: center;
  
}

.Whyspotify-image2
{
    /* border: 2px solid rgb(178, 181, 7); */
    height: 300px;
    width: 25%;
    /* display: flex; */
    justify-content: center;
    align-items:flex-start;
}
#ws-image2
{
    /* border: 2px solid black; */
    height: 60%;
    width: 100%;
    margin-left: 40px;
}
#ws-letters2
{
    /* border: 2px solid rebeccapurple; */
    height: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    /* margin-bottom: 15px; */
    line-height: 1.3em;
    text-transform: none;
    letter-spacing: normal;
}
#ws-letters22
{
    /* border: 2px solid lawngreen; */
    height: 90px;
    line-height: 1.5;
  font-size: 16px;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
  text-align: center;
  
}
.Whyspotify-image3
{
    /* border: 2px solid rgb(238, 240, 108); */
    height: 300px;
    width: 25%;
    /* display: flex; */
    justify-content: center;
    align-items:flex-start;
}
#ws-image3
{
    /* border: 2px solid black; */
    height: 60%;
    width: 100%;
    margin-left: 40px;
}
#ws-letters3
{
    /* border: 2px solid rebeccapurple; */
    height: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    /* margin-bottom: 15px; */
    line-height: 1.3em;
    text-transform: none;
    letter-spacing: normal;
}
#ws-letters33
{
    /* border: 2px solid lawngreen; */
    height: 90px;
    line-height: 1.5;
  font-size: 16px;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
  text-align: center;
  
}
.Whyspotify-image4
{
    /* border: 2px solid rgb(29, 30, 11); */
    height: 300px;
    width: 25%;
    /* display: flex; */
    justify-content: center;
    align-items:flex-start;
}
#ws-image4
{
    /* border: 2px solid black; */
    height: 60%;
    width: 100%;
    margin-left: 40px;
}
#ws-letters4
{
    /* border: 2px solid rebeccapurple; */
    height: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    /* margin-bottom: 15px; */
    line-height: 1.3em;
    text-transform: none;
    letter-spacing: normal;
}
#ws-letters44
{
    /* border: 2px solid lawngreen; */
    height: 90px;
    line-height: 1.5;
  font-size: 16px;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
  text-align: center;
  
}

/* its free section  */

#itsfree
{
  /* border: 2px solid black; */
  height: 495px;
  width: 100%;
  text-align: center;
    width: 100%;
    background: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
    font-size: 48px;
    padding-top: 190px;
    color: white;
    /* font-size: 32px; */
    font-weight: 900;
    letter-spacing: -0.02em;
    line-height: 1.2;
    
}

/* got questions section  */

#sec_details
{
  /* border: 2px solid orangered; */
  height: 586px;
  width: 100%;
}
#art_details
{
  /* border: 2px solid slateblue; */
  height: 586px;
  width: 80%;
  margin: 0 auto;
  padding: 75px 15px;
}
#header_details
{
  /* border: 2px solid yellow; */
  height: 46px;
  /* width: 80%; */
  margin: 0x 0px 72px 0px;
}
#header_details h2
{
text-align: center;
line-height: 1.5;
font-size: var(--headline-font-size,40px);
line-height: var(--headline-line-height,46px);
letter-spacing: -0.015em;
font-weight: 900;
text-transform: none;
}
#details_ul
{
  /* border: 2px solid khaki; */
  height: 318px;
  margin-top: 70px;
}
#details_ul li
{
  /* border: 1px solid fuchsia; */
  /* border-color: #000; */
  /* border-bottom: 3px solid ,rgba(128, 128, 128, 0.105); */
  height: 79px;
  list-style: none;
  margin: 0 auto;
  justify-content: space-between;
}
#li_det1:hover
{
  background-color: var(--background-elevated-base,rgba(128, 128, 128, 0.105));
  color: var(--text-base,#000);
  /* text-decoration: underline; */
}
#summ_id1
{
  list-style: none;
  vertical-align: middle;
  margin-left: 10px;
  display: inline-block;
  width: calc(100% - 24px);
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;
  padding: 26px 28px;
  margin-top: -3px;
  position: relative;
  list-style: none;
  outline: none;
  /* text-decoration: none; */
}
#summ_id1 svg
{
  margin-left: 960px;
  margin-top: -25px;
  /* justify-content: space-between; */
}
 #summ_id1:hover
{
  /* background-color: var(--background-elevated-base,gold);
  color: var(--text-base,#000); */
  text-decoration: underline;
} 
#sum_paragraph{
  /* border: 2px solid firebrick; */
  height: 165px;
  padding: 15px 32px;
  text-decoration: none;
  margin-left: 2px;
  font-family: spotify-circular,Helvetica,Arial,sans-serif;
  
    --background-highlight: #f6f6f6;
    --background-press: #b7b7b7;
    --background-elevated-base: #ffffff;
    --background-elevated-highlight: #f6f6f6;
    --background-elevated-press: #b7b7b7;
    --background-tinted-base: rgba(0,0,0,0.08);
    --background-tinted-highlight: rgba(0,0,0,0.05);
    --background-tinted-press: rgba(0,0,0,0.12);
    --background-unsafe-for-small-text-base: #ffffff;
    --background-unsafe-for-small-text-highlight: #ffffff;
    --background-unsafe-for-small-text-press: #ffffff;
    --text-base: #000000;
  /* vertical-align: middle; */
  /* margin-left: 10px; */
  /* display: inline-block; */
  /* width: calc(100% - 24px); */
  /* cursor: pointer; */
  /* font-size: 18px; */
  /* font-weight: 400; */
  /* padding: 26px 28px; */
  /* margin-top: -3px; */
  /* position: relative; */
  /* list-style: none; */
  /* outline: none; */
  
}

#li_det1
{
  background-color: var(--background-elevated-base,#fff);
    color: var(--text-base,#000);
    /* justify-content: space-between; */
}


/* READY LETS PLAY SECTION */

#letsplay1
{
  /* border: 2px solid blue; */
  height: 450px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* -webkit-box-pack: center; */
  justify-content: center;
  font-family: spotify-circular,Helvetica,Arial,sans-serif;
  background: url(https://www.scdn.co/i/free/lets-play.svg) left -10px bottom -160px / 100% 1114px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) 16%, rgb(240, 55, 166)) rgb(108, 14, 224);
    /* background-position: left -10px bottom -160px; */
    /* background-repeat: no-repeat; */
    font-size: 80px;
    color: white;
    font-weight: 900;
    letter-spacing: -0.01em;
    line-height: 1.2;
}
#letsplay-button
{
  /* border: 2px solid white; */
  height: 200px;
  width: 100%;
  align-items: center;

}

#bot_div
{
    height: 48px;
    width: 188px;
    border-radius: 24px;
    border-color: #fff;
    border-style: solid;
    background-color: white;
    align-items: center;
    /* margin-left: 600px; */
    /* margin-top: 50px; */
    /* text-decoration: none; */
}
#bot_div a
{
    text-decoration: none;
    color: black ;
    font-weight: 700;

}
#letsplay-button :hover
{
  scale: 1.04;
    border-color: black;
}

/* FOOTER SECTION */

#footer_div
{
  border: 1px solid black;
  height: 554px;
  background-color: #000;
}
#footer_l
{
  /* border: 2px solid gold; */
  height: 554px;
  padding: 0px 80px 50px;

}
#foot_nav
{
  /* border: 2px solid hotpink; */
  height: 346px;
  width: 80%;
  margin:65px auto;
  display: flex;
}
#div1_foot
{
  height: 346px;
  /* border: 2px solid firebrick; */
  width: 17%;
}
#div1_foot svg
{
  fill: #fff;
}
#div2_foot
{
  height: 346px;
  /* border: 2px solid firebrick; */
  width: 53%;
  display: flex;
}

#art_foot1
{
  /* border: 2px solid sandybrown; */
  height: 346px;
  width: 33.33%;
}
#art_foot1 #ulist_footer
{
  list-style: none;
  margin-top: 25px;
  margin-left: 30px;
  color: #919496;
    font-size: 13px;
    font-weight: 900;
    line-height: 1.4;
    /* letter-spacing: .08em; */
    /* text-transform: uppercase; */

}
#art_foot1 #ulist_footer a
{
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  /* line-height: 1.5; */
}
#art_foot1 #ulist_footer a:hover
{
  color: #1ed760;
}
.list1_foot
{
  /* border: 2px solidd rgb(209, 0, 0); */
  height: 42px;
  width: 100%;
}
#art_foot2
{
  /* border: 2px solid sandybrown; */
  height: 346px;
  width: 33.33%;
}
#art_foot3
{
  /* border: 2px solid sandybrown; */
  height: 346px;
  width: 33.33%;
}
#div3_foot
{
  height: 346px;
  /* border: 2px solid firebrick; */
  width: 30%;
}
#ul_footicons
{
  /* border: 2px solid fuchsia; */
  height: 54px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
  margin-top: 25px;
}
#ul_footicons li
{
  /* border: 1px solid lawngreen; */
  width: 27%;
  list-style: none;
  border-radius: 250px;
  background-color:rgb(40, 40, 40);
}
#ul_footicons a i
{
  /* height: 100%; */
  /* width: 100%; */
  /* text-align: center; */
  /* display: flex; */
  /* font-size:190%; */
  font-size: 170%;
  margin-top: 13px;
  margin-left: 16px;
  color: #fff;
  /* border: 2px solid red; */
  height: 50px;
  width: 50px;
  border-radius: 250px;

}
#ul_footicons a i:hover
{
  color: #1ed760;
}
#divlast2
{
  /* border: 2px solid aquamarine; */
height: 39px;
width: 80%;
/* color: aquamarine; */
margin-top:-20px ;
margin-left: 123px;
}
#divlast1
{
  /* border: 2px solid aquamarine; */
height: 39px;
width: 80%;
margin-top:-80px ;
margin-left: 123px;
/* color: aquamarine; */
text-align: end;
}
#divlast1 a
{
  color:#919496;
  text-decoration: none;
  font-size: small;
}
#divlast1 a:hover
{
  text-decoration: none;
  color: #1ed760;
}
#divlast2
{
display: flex;
justify-content: space-between;
}
#lastdivision1{
  /* border: 2px solid cornflowerblue; */
  height: 100%;
  width: 50%;
}
#lastdivision2{
  /* border:2px solid chartreuse; */
  height: 100%;
  width: 20%;
  color: #919496;
  font-size: small;
  text-align: end;
}
.clsul
{
  /* border: 2px solid cornflowerblue; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#cls_li a:hover
{
  color: #1ed760;
}
#cls_li a
{
  /* border: 2px solid firebrick; */
  /* height: 100%; */
  /* width: 20%; */
  color: #919496;
  font-weight: 200;
  text-decoration: none;
  font-size: small;
}
